{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8" />
    <title>A Shop</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <pPrice {{ product.price }} $</p>
                <p>{{ product.description }}</p>
            </li>
        {% empty %}
            <li>There is no product.</li>
        {% endfor %}
    </ul>
</body>
</html>